<a href="https://colab.research.google.com/github/mecxlan/HTS_Ai_Course/blob/main/Lecture_7_stage3_Basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hope to Skills - Free AI Course**
This note book cover the following concepts
1. Loop
2. Loops in python
3. User defined Functions in python

## **What is Loop ?**

A loop is a programming concept that allows for the **repetition** of a set of **instructions multiple times**.

# **Python - For Loops**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
# print the Hello World using the print statement
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")
print(" Hello World")

 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World
 Hello World

In [ ]:
# print the string specific number of times
for i in range(10):
  print("Hello World")
  print("Hello Pakistan")

Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan
Hello World
Hello Pakistan

In [ ]:
# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print(item)

apple
banana
cherry

In [ ]:
# printing the List
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Print each value in a my_list, list:

my_list = [10, 20, 30, 40, 50, 60]

for number in my_list: #<--- x is a variable, who's scope is limited to the for loop. x can be named anything you'd like
    print(number)

10
20
30
40
50
60

## **Looping Through a String**
Even strings are iterable objects, they contain a sequence of characters:

Loop through the letters in the word "banana":

In [ ]:
for chars in "banana":
  print(chars)

b
a
n
a
n
a

# **The range() function**
In most cases, we will want to loop through a predetermined list. However, we can also generate a list to loop over "on the fly" with the range() function

In [ ]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [ ]:
# Printing Numbers
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [ ]:
# Using the For  loop to print the Items of list and their index
my_list = [10, 20, 30, 40, 50, 60]
for i in range(len(my_list)):
    print(i, my_list[i])

0 10
1 20
2 30
3 40
4 50
5 60
0 T
1 h
2 e
3
4 m
5 a
6 n
7 g
8 o
9
10 c
11 o
12 l
13 o
14 r
15
16 i
17 s
18
19 Y
20 e
21 l
22 l
23 o
24 w
25
26 b
27 u
28 t
29
30 p
31 r
32 e
33 d
34 i
35 c
36 t
37 e
38 d
39
40 g
41 r
42 e
43 e
44 n
45 .

In [ ]:
# Getting the Length of List using the len() function
my_list = [10, 20, 30, 40, 50, 60]
len(my_list)

6

## **Looping through a dictionary**
keys()
You can step through the keys of a dictionary.

In [ ]:
# printing the values from the Dictionary
my_dict = { "brand": "Ford",  "model": "Mustang",  "year": 1964,  "year": 2020}

for value in my_dict.values():
    print(value)

Ford
Mustang
2020

In [ ]:
# printing the keys from the dictionary
my_dict = { "brand": "Ford",  "model": "Mustang",  "year": 1964,  "year": 2020}

for key in my_dict.keys():
    print(key)

brand
model
year

In [ ]:
# Finding Even Numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 2 == 0:
        print("number is even.", num)

number is even. 2
number is even. 4
number is even. 6
number is even. 8
number is even. 10

# **Python While Loops**
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Print i as long as i is less than 60:
i = 1
while i <= 60:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [ ]:
# while loop
count = 0
while (count < 3):
	print("Print hello", count)
	count = count + 1

Print hello 0
Print hello 1
Print hello 2

In [ ]:
# User Input Validation
password = ""
while password != "secret":
    password = input("Enter the password: ")
    if password == "secret":
        print("Access granted!")
    else:
        print("Access denied!")

Enter the password: sevret
Access denied!
Enter the password: secret
Access granted!

In [ ]:
# Summing Numbers
total = 0
num = 1
while num <= 10:
    total = total + num
    num = num + 1
print("The sum is:", total)

The sum is: 55

# **Python Functions**
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

## **Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
#syntax
def function_name():

SyntaxError: ignored

In [ ]:
def my_function():
  print("Hello from a function")

## **Calling a Function**
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## **Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
# Function with Parameters
def add_numbers(a, b):
    sum = a + b
    return sum

# Calling the function
result = add_numbers(5, 3)
print("The sum is:", result)

The sum is: 8

## **Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## **Return Values**
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Function with Default Parameter
def greet_person(name="World"):
    print("Hello,", name)

# Calling the function without an argument
greet_person()

# Calling the function with an argument
greet_person("Alice")

Hello, World
Hello, Alice

In [ ]:
# python program to find Even and Odd Numbers
def check_even_odd(num):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

In [ ]:
# Call the function
check_even_odd(7)

7 is odd

In [ ]:
# Python Program to Count the Number of Words in a String:
def count_words(string):
    words = string.split()
    return len(words)

In [ ]:
# Call the function
sentence = "Python is a popular programming language"
word_count = count_words(sentence)
print("Number of words:", word_count)

Number of words: 6